## Print Hello World

In [9]:
# Example file for variables
# LinkedIn Learning Python course by Joe Marini
print("Hello World!")
name =  input("What is your name?")
print("Nice to meet you",name)

Hello World!

What is your name? Krish

Nice to meet you Krish

In [8]:
def main():
    print("Hello World!")
    name =  input("What is your name?")
    print("Nice to meet you",name)

if __name__ == "__main__":
    main()

Hello World!

What is your name? Krish

Nice to meet you Krish

## Variables

In [14]:
# Example file for variables
# LinkedIn Learning Python course by Joe Marini


# Basic data types in Python: Numbers, Strings, Booleans, Sequences, Dictionaries
myint = 5
myfloat = 13.2
mystr = "This is a string"
mybool = True
mylist = [0, 1, "two", 3.2, False]
mytuple = (0, 1, 2)
mydict = {"one" : 1, "two" : 2}

print(myint)
print(myfloat)
print(mystr)
print(mybool)
print(mylist)
print(mytuple)
print(mydict)

# re-declaring a variable works
myint = "abc"
print(myint)

5
13.2
This is a string
True
[0, 1, 'two', 3.2, False]
(0, 1, 2)
{'one': 1, 'two': 2}
abc

In [16]:

# to access a member of a sequence type, use []
print(mylist[2])
print(mytuple[1])

# use slices to get parts of a sequence
print(mylist[1:5])
print(mylist[1:5:2])

two
1
[1, 'two', 3.2, False]
[1, 3.2]

In [17]:
# you can use slices to reverse a sequence
print(mylist[::-1])

[False, 3.2, 'two', 1, 0]

In [20]:
#dictionaries are accessed via keys
print(mydict["one"])

1

In [21]:
# ERROR: variables of different types cannot be combined
print("string type"+123)

TypeError: can only concatenate str (not "int") to str

In [22]:
print("string type"+str(123))

string type123

In [23]:
# Global vs. local variables in functions
def  someFunction():
    mystr  = "def"
    print(mystr)

someFunction()
print(mystr)

def
This is a string

In [24]:
def otherFunction():
    global mystr
    mystr = "def"
    print(mystr)

otherFunction()
print(mystr)

def
def

In [25]:
del mystr
print(mystr)

NameError: name 'mystr' is not defined

## Python Functions

In [26]:
# Example file for working with functions
# LinkedIn Learning Python course by Joe Marini


# TODO: define a basic function
def func1():
    print("I am a function")

func1()
print(func1())
print(func1)

I am a function
I am a function
None
<function func1 at 0x1040d5580>

In [27]:
# TODO: function that takes arguments
def func2(arg1,arg2):
    print(arg1," ",arg2)

# TODO: function that returns a value
def cube(x):
    return x*x*x

func2(10,20)
print(func2(10,20))
print(cube(3))

10   20
10   20
None
27

In [30]:
# TODO: function with default value for an argument
def power(num, x=1):
    result = 1
    for i in range(x):
        result = result * num
    return result

print(power(2))
print(power(2,3))
print(power(x=3, num=2))

2
8
8

In [32]:
# TODO: function with variable number of arguments

def multi_add(*args):
    result =0
    for x in args:
        result +=x
    return result

print(multi_add(4,5,10,4))
print(multi_add(4,5,10,4,10))

23
33

In [37]:
def multi_args(arg1, *args):
    result =0
    for x in args:
        result +=x
    return result * arg1

print(multi_args(4,5,10,4))
print(multi_args(4,5,10,4,10))

76
116

## Conditionals

In [38]:
# Example file for working with conditional statements
# LinkedIn Learning Python course by Joe Marini

def main():
    x, y = 10, 100

    # conditional flow uses if, elif, else
    if x<y:
        result = "x is less than y"

    print(result)
    
if __name__ == "__main__":
    main()

x is less than y

In [39]:
def main():
    x, y = 10

    # conditional flow uses if, elif, else
    if x<y:
        result = "x is less than y"

    print(result)
    
if __name__ == "__main__":
    main()

TypeError: cannot unpack non-iterable int object

In [40]:
def main():
    x, y = 1000, 100

    # conditional flow uses if, elif, else
    if x<y:
        result = "x is less than y"
    else:
        result = "x is greater than y"
    print(result)
    
if __name__ == "__main__":
    main()

x is greater than y

In [42]:
def main():
    x, y = 100, 100

    # conditional flow uses if, elif, else
    if x<y:
        result = "x is less than y"
    elif x==y:
        result = "x is the same as y"
    else:
        result = "x is greater than y"

    print(result)
    
if __name__ == "__main__":
    main()

x is the same as y

In [45]:
# conditional statements let you use "a if C else b
x=10
y=100
result = "x is less than y" if x<y else "x is greater than or equal to y"
print(result)

x is less than y

In [47]:
# match-case makes it easy to compare multiple values
value = "one"
match value:
    case "one":
        result = 1
    case "two":
        result = 2
    case "three" | "four":
        result = (3,4)
    case _:
        result = -1

print(result)

1

In [49]:
value = "three"
match value:
    case "one":
        result = 1
    case "two":
        result = 2
    case "three" | "four":
        result = (3,4)
    case _:
        result = -1

print(result)

(3, 4)

In [50]:
value = "seven"
match value:
    case "one":
        result = 1
    case "two":
        result = 2
    case "three" | "four":
        result = (3,4)
    case _:
        result = -1

print(result)

-1

## Loops

In [52]:
# Example file for working with loops
# LinkedIn Learning Python course by Joe Marini

def main():
    x = 0

    # TODO: define a while loop
    while(x<5):
        print(x)
        x+=1
  
if __name__ == "__main__":
    main()

0
1
2
3
4

In [54]:
# Example file for working with loops
# LinkedIn Learning Python course by Joe Marini

def main():

    # TODO: define a for loop
    for i in range(5,10):
        print(i)

  
if __name__ == "__main__":
    main()

5
6
7
8
9

In [55]:
# Example file for working with loops
# LinkedIn Learning Python course by Joe Marini

def main():
    
    # TODO: use a for loop over a collection
    days = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
    for d in days:
        print(d)

  
if __name__ == "__main__":
    main()

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [56]:
# Example file for working with loops
# LinkedIn Learning Python course by Joe Marini

def main():
    
    # TODO: use the break and continue statements
    for i in range(5,10):
        if i == 7:
            break
        print(i)

if __name__ == "__main__":
    main()

5
6

In [57]:
# Example file for working with loops
# LinkedIn Learning Python course by Joe Marini

def main():
    
    # TODO: use the break and continue statements
    for i in range(5,10):
        if i%2==0:
            continue
        print(i)

if __name__ == "__main__":
    main()

5
7
9

In [59]:
# Example file for working with loops
# LinkedIn Learning Python course by Joe Marini

def main():
  
    # TODO: using the enumerate() function to get index 
    days = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
    for i,d in enumerate(days): # enumerate function returns both index and value
        print(i,d)

  
if __name__ == "__main__":
    main()

0 Mon
1 Tue
2 Wed
3 Thu
4 Fri
5 Sat
6 Sun

## Classes

In [64]:
# Example file for working with classes
# LinkedIn Learning Python course by Joe Marini

class Vehicle():
    def __init__(self, bodystyle):
        self.bodystyle = bodystyle

    def drive(self,speed):
        self.mode = "driving"
        self.speed = speed

class Car(Vehicle):
    def __init__(self, enginetype):
        super().__init__("Car")
        self.wheels = 4
        self.doors = 4
        self.enginetype = enginetype

    def drive(self,speed):
        super().drive(speed)
        print("Driving my",self.enginetype,"car at",self.speed)

class Motorcycle(Vehicle):
    def __init__(self,enginetype, hassidecar):
        super().__init__("Motorcycle")
        if(hassidecar):
            self.wheels = 3
        else:
            self.wheels = 2
        self.doors = 0
        self.enginetype = enginetype

    
    def drive(self,speed):
        super().drive(speed)
        print("Driving my",self.enginetype,"motorcycle at",self.speed)


car1 = Car("gas")
car2 = Car("electric")
mc1 = Motorcycle("gas", True)

print(mc1.wheels)
print(car1.enginetype)
print(car2.doors)

car1.drive(30)
car2.drive(40)
mc1.drive(50)

3
gas
4
Driving my gas car at 30
Driving my electric car at 40
Driving my gas motorcycle at 50

## Modules

In [65]:
# LinkedIn Learning Python course by Joe Marini


# TODO: import the math module, which contains features for working with mathematics
import math

# TODO: the math module contains lots of pre-built functions
print("The aquare root of 16 is: ",math.sqrt(16))

# TODO: in addition to functions, some modules contain useful constants 
print("Pi is: ",math.pi)

The aquare root of 16 is:  4.0
Pi is:  3.141592653589793

## Exceptions

In [66]:
# Example file for working with classes
# LinkedIn Learning Python course by Joe Marini

# Errors can happen in programs, and we need a clean way to handle them
# TODO: This code will cause an error because you can't divide by zero:
x = 10/0

ZeroDivisionError: division by zero

In [68]:
# TODO: Exceptions provide a way of catching errors and then handling them in 
# a separate section of the code to group them together
try:
    x = 10/0 
except:
    print("Well! That didn't work")

Well! That didn't work

In [69]:
# TODO: You can also catch specific exceptions
try:
    answer = input("What should I divide 10 by? ")
    num= int(answer)
    print(10/num)

except ZeroDivisionError as e:
    print("You can't divide by zero!")

except ValueError as e:
    print("Enter valid number!")
    print(e)

finally:
    print("This code always runs!")

What should I divide 10 by?  2

5.0
This code always runs!

In [70]:
# TODO: You can also catch specific exceptions
try:
    answer = input("What should I divide 10 by? ")
    num= int(answer)
    print(10/num)

except ZeroDivisionError as e:
    print("You can't divide by zero!")

except ValueError as e:
    print("Enter valid number!")
    print(e)

finally:
    print("This code always runs!")

What should I divide 10 by?  0

You can't divide by zero!
This code always runs!

In [71]:
# TODO: You can also catch specific exceptions
try:
    answer = input("What should I divide 10 by? ")
    num= int(answer)
    print(10/num)

except ZeroDivisionError as e:
    print("You can't divide by zero!")

except ValueError as e:
    print("Enter valid number!")
    print(e)

finally:
    print("This code always runs!")

What should I divide 10 by?  k

Enter valid number!
invalid literal for int() with base 10: 'k'
This code always runs!